<h3>Size template example</h3>
<form class="form-inline">
    <div class="form-group">
        <label for="sizeType">Size type</label>
        <select class="form-control" id="sizeType" required name="selectedSize" [(ngModel)]="selectedSize" (ngModelChange)="onSizeChanged($event)">
            <option *ngFor="let s of sizes" [ngValue]="s">{{s.name}}</option>
        </select>
    </div>
    <!--<div class="form-group">
        <label>
            <input type="checkbox" [(ngModel)]="readonlyMode" name="mode"> Readonly mode
        </label>
    </div>-->
</form>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table qty-table">
                <tr *ngFor="let row of selectedSize?.rows">
                    <td class="text-right qty-label">{{row.name}}</td>
                    <td class="qty-row">
                        <div class="form-inline">
                            <div class="input-group qty-item text-center" style="margin-right: 1em;" *ngFor="let item of row.fields">
                                <label *ngIf="!readonlyMode">{{item.label}}</label>
                                <div class="input-group">
                                    <p *ngIf="readonlyMode">{{item.qty || '&nbsp;'}}</p>
                                    <input *ngIf="!readonlyMode" type="text" class="form-control text-center" [(ngModel)]="item.delta" />
                                    <span *ngIf="!readonlyMode" class="input-group-addon total-qty">{{item.total()}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
